---
layout: default
---

<style>
    
.post-container {
  display: inline-block;
}
.flexbox-container{
	display: flex;
	width: 50%;
}

.flexbox-container img {
  max-width: 20rem;
  width: 20rem;
  max-height: 20rem;
  height: 20rem;
  flex-direction: row;
  margin:0;
}
.image{
	order: 1;
	flex: 0;
  width:100%;
  max-width: 100%;
  flex-basis: auto;
}

a {
  color: #000;
}

.main{
  width:100%;
}
.main p {
  font-size: medium;
  padding: 0!important;
  line-height: 1.2rem;
}

.oss-widget-interface{
  padding-bottom: 0.5rem;
}

</style>

{% for post in site.posts %}
<div class="post-container">
  <div class="flexbox-container">
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">    
      <div class="image">
          <img src="{{ post.image }}"></img>
      </div>
      <div class="main">            
          <p>{{ post.title }}</p>                
          <p>{{ post.date | date: "%B %e, %Y" }}.</p>        
      </div>  
    </a>
  </div>
</div>
{% endfor %}

{% include disqus.html %}  