<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      <p>&copy; 2019 Craig Godden-Payne</p>
      <amp-social-share type="email"></amp-social-share>
      <amp-social-share type="facebook"></amp-social-share>
      <amp-social-share type="gplus"></amp-social-share>
      <amp-social-share type="linkedin"></amp-social-share>
      <amp-social-share type="pinterest"></amp-social-share>
      <amp-social-share type="tumblr"></amp-social-share>
      <amp-social-share type="twitter"></amp-social-share>
      <amp-social-share type="whatsapp"></amp-social-share>  

      <p>
      Other posts that might interest you...
<br />
<ul>  {% for post in site.posts %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
      {% endfor %}
    </ul>
    
    </p>
    </footer>
    <a style="color: lightgray" href="https://www.freepik.com/free-photos-vectors/background">Background vector created by macrovector - www.freepik.com</a>
  </div>
</div>
