<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />    
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">        
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/prism.css" />    
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<style type="text/css">
  
  * {
    font-family: 'Raleway', sans-serif!important;
    font-size: medium;
  }
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding:1rem;
  }

  img {
    max-width: 100%;
    padding:0.5rem;    
  }

  a {
    color: #000;
  }
  
  p {
    font-size: medium;
    padding: 0.5em;
    line-height: 2rem;
  }
  li {
    font-size: medium;
    padding: 0;
    line-height: 1.5rem;
    color: #333;
    list-style-type: circle;
    list-style-position: inside;
  }

  h1{
    font-size: xx-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  h2{
    font-size: x-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  h3{
    font-size: large;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .wrapper-footer {
    margin-top:0;
  }
  .oss-widget-interface{
    display:block;
  }
  
  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  
  </style>