<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />    
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">        
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/prism.css" />    
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<style type="text/css">
  
  * {
    font-family: 'Raleway', sans-serif!important;
    font-size: medium;
  }
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding:1rem;
  }

  img {
    max-width: 100%;
    padding:0.5rem;    
  }
  
  p {
    font-size: medium;
    padding: 0.5em;
    line-height: 2rem;
  }

  h1{
    font-size: xx-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  h2{
    font-size: x-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  h3{
    font-size: large;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .site-info {
    margin-top: 2rem;
  }
  .wrapper-footer {
    margin-top: 2rem;
  }
  .post {
    margin-top: 1rem;  
  }

  .col-6 {
    display: inline-block;
  }
  
  .articlecontainer {
    height:20rem;
  }
  
  .articlecontainer img {
    max-width:100%;
    max-height: 15rem;
    margin: 0.25rem;
  }
  
  .left {
    float:right;
  }
  .right {
    float:right;
  }  
  
  .author-title {
    color: grey;
  }
  
  .textsmall {
    font-size: small;
  }
  .textlarge {
    font-size: x-large;
  }
 
  .footer {
    background-color: darkgray;
    width: 100%;
    padding-top:3rem;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
  }
  
  .nav {
    box-shadow: 0 0 5px #ccc;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left:1rem;
    width:100%;
  }
  </style>