<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />    
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">        
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/prism.css" />    
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<style type="text/css">
  
  * {
    font-family: 'Raleway', sans-serif!important;
    font-size: medium;
  }
  #main, article {
    width:100%!important;
  }
  
table {
  margin:0.5rem;
}
td {
  padding:0.3rem;
  border-bottom-style:solid;
  border-bottom-color:lightgrey;;
  border-bottom-width:1px;
  font-size:small;
}
.morelikethis {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  background: grey;
  padding: 10px 20px 10px 20px;
}

.morelikethis:hover {
  background: #3cb0fd;
}
  

  /*prism mobile ajustments*/
  .code-toolbar {
    word-wrap: break-word;  
    white-space: normal!important; 
    overflow-x: auto;
    white-space: nowrap;    
    margin:0;
  }
  .highlighter-rouge{
    width: 100%;
    margin:0;
  }
  code[class*="language-"], pre[class*="language-"] {
    width:100%;
    margin:0;
  }


  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding:1rem;
  }

  img {
    max-width: 100%;
    padding:0.5rem;    
  }

  a {
    color: #000;
  }
  
  p {
    font-size: medium;
    padding: 0.5em;
    line-height: 2rem;
  }
  li {
    font-size: medium;
    padding: 0;
    line-height: 1.5rem;
    color: #333;
    list-style-type: circle;
    list-style-position: inside;
	margin-left:2rem;
	margin-right:2rem;
  }

  h1{
    font-size: xx-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  h2{
    font-size: x-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  h3{
    font-size: large;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .wrapper-footer {
    margin-top:0;
  }
  .oss-widget-interface{
    display:block;
    margin-bottom:1.5rem;
  }
  
  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  
  </style>