<!DOCTYPE html>
<html>
  <head>    
    {% include meta.html %}    
    {% include styles.html %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Personal Home Page",
        "name": "Craig Godden-Payne | Software Engineer",
        "url": "https://craig.goddenpayne.co.uk"
      }
    </script>
  </head>  
  <body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71949672-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-71949672-1');
    </script>
    <div class="container">
        {% include header.html %}         
    </div>
    <div id="main" role="main">
        {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
