---
layout: postlayout
---

<style>
image {
  max-width: 100%;
  max-height: 100%;
}

.flexbox-container{
	display: flex;
  width: 100%;
  margin-bottom:1.5rem;
}

.sidebar {
	order: 1;
	flex: 0;
  width:4rem;
  flex-basis: auto;
}

.author {
	order: 1;
	flex: 5;
  padding-top:0.5rem;
}

@media (max-width: 480px){
	.container{
		display: flex;  
		width: 100%;
  	}
	.box2{
		order: 2;	}
	.box1{
		order: 1;
	}
}

  .post {
    margin-top: 1rem;  
  }
  .post .image img {
    width: 4rem;
  }
  .post-detail {
    padding-top:1rem;
  }
  .post-detail h4 {
    font-size: small;
  }
  .reading-time {
    color:#888;
    padding-top:0.2rem;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#eee;
    
  }
  .oss-widget-interface{
    padding-bottom: 0.5rem;
  }
</style>
  
<article class="container">
  <div class="post">
    <h1 style="font-size:xx-large">{{ page.title }}</h1>
    <img src="{{page.image}}" class="img-center"></img>
    <div class='oss-widget-interface'></div>                
    
    <div class="flexbox-container">
      <div class="image">
          <img src="/assets/avatar.jpg" />
      </div>
      <div class="author">
          <h4>Written by <a href="mailto:craig@goddenpayne.co.uk">Craig Godden-Payne</a></h4>
          <h4>On {{ page.date | date: "%B %e, %Y" }}</h4>         
          <h4 class="reading-time">
            {% if page.readtime == null %}
              I hope you enjoy this post!
            {% else %} 
              Reading this will take about {{page.readtime}}.
            {% endif %}
          </h4>
        </div><br/> 
      </div>  
    </div>
    <div>
      <a class="morelikethis" href="http://craig.goddenpayne.co.uk">More posts like this</a>
    </div>
    <div class="entry">
      {{ content }}
    </div>          
    <div class="date">
      <p>Written on {{ page.date | date: "%B %e, %Y" }}.</p>
      <p>Please share and spread the word!</p>
      <div class='oss-widget-interface'></div> 
      <a class="morelikethis" href="http://craig.goddenpayne.co.uk">More posts like this</a>      
    </div>
    {% include disqus.html %}  
  </div>
</article>
